<mat-drawer-container class="example-container"
  [style.bottom.px]="this.outputDrawerHeight" 
  autosize>
  <mat-drawer 
    class="sidenav-left" 
    opened 
    [style.width.px]="this.fileDrawerWidth"
    mode="side"
    (mouseup)="this.event_onMouseUpDragger($event)"
    (mousemove)="this.event_onMouseMoveDragger($event)"
      >

      <div class="flexible-content-container">
        <div class="flexible-content-header" >
          Workspace
        </div>
        <mat-menu #contextMenuFile="matMenu">
          <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="event_onClickDeleteLogicItem(item)"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
            <button *ngIf="this.isTreeItemSelected(item)" mat-menu-item (click)="event_onClickRunSelectedFilesDirectly(item)"><i class="fas fa-play"></i>&nbsp;&nbsp;Solve Directly</button>
            <button *ngIf="this.isTreeItemSelected(item)" mat-menu-item (click)="event_onClickOpenRunConfigurations(item)"><i class="fas fa-user-cog"></i>&nbsp;&nbsp; Create Run Configuration...</button>
          </ng-template>
        </mat-menu>

        <mat-menu #contextMenuFolder="matMenu">
          <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="event_onClickAddFile(item)"><i class="fas fa-file"></i>&nbsp;&nbsp;&nbsp;New File</button>
            <button mat-menu-item (click)="event_onClickAddFolder(item)"><i class="fas fa-folder"></i>&nbsp;&nbsp;New Folder</button>
            <button mat-menu-item (click)="event_onClickDeleteLogicItem(item)"><i class="fas fa-trash"></i>&nbsp;&nbsp;Delete</button>
          </ng-template>
        </mat-menu>

        <mat-menu #contextMenuWorkspace="matMenu">
          <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="event_onClickAddFile(this.workspaceRoot)"><i class="fas fa-file"></i>&nbsp;&nbsp;&nbsp;New File</button>
            <button mat-menu-item (click)="event_onClickAddFolder(this.workspaceRoot)"><i class="fas fa-folder"></i>&nbsp;&nbsp;New Folder</button>
          </ng-template>
        </mat-menu>

        

        <div class="flexible-content-body"  (contextmenu)="event_onClickContextMenuWorkspace($event, this.workspaceRoot)">
          <div style="position: fixed"
            #contextMenuWorkspaceTrigger
            [style.left]="this.contextMenuWorkspacePosition.x"
            [style.top]="this.contextMenuWorkspacePosition.y"
            [matMenuTriggerFor]="this.contextMenuWorkspace">
          </div>

          <!-- #region BEGIN Workspace tree -->
          <mat-tree [dataSource]="treeDataSource" [treeControl]="fileTreeControl" class="example-tree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li class="mat-tree-node" [ngClass]="{'selected-tree-item': this.isTreeItemSelected(node)}" 
                (dblclick)="event_onClickOpenFile(node)" (contextmenu)="event_onClickContextMenuFile($event, node)"
                (click)="event_onClickTreeItem(node)">
                <button mat-icon-button disabled></button>
                <i class="fas fa-file"></i>&nbsp;&nbsp;{{node.name}}
                <div style="position: fixed"
                  #contextMenuFileTrigger
                  [style.left]="this.contextMenuFilePosition.x"
                  [style.top]="this.contextMenuFilePosition.y"
                  [matMenuTriggerFor]="contextMenuFile"
                  [matMenuTriggerData]="{item: item}">
                </div>
              </li>
            </mat-tree-node>
          
            <mat-nested-tree-node *matTreeNodeDef="let node; when: isFolder">
              <li>
                <div class="mat-tree-node"  (contextmenu)="event_onClickContextMenuFolder($event, node)">
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{fileTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  <i class="fas fa-folder"></i>&nbsp;&nbsp;{{node.name}}
                  <div style="position: fixed"
                    #contextMenuFolderTrigger
                    [style.left]="this.contextMenuFolderPosition.x"
                    [style.top]="this.contextMenuFolderPosition.y"
                    [matMenuTriggerFor]="contextMenuFolder"
                    [matMenuTriggerData]="{item: item}">
                  </div>
                </div>
                <ul [class.example-tree-invisible]="!fileTreeControl.isExpanded(node)">
                  <ng-container matTreeNodeOutlet></ng-container>
                </ul>
              </li>
            </mat-nested-tree-node>
          </mat-tree>
        <!-- #endregion END Workspace tree -->

        </div>
        
      </div>

      
    
  </mat-drawer>
  <!-- <mat-drawer class="sidenav-right" opened mode="side" position="end"
    (mouseup)="this.event_onMouseUpDragger($event)"
    (mousemove)="this.event_onMouseMoveDragger($event)">
    <div class="flexible-content-container">
      <div class="flexible-content-header">
        Atoms
      </div>
      <div class="flexible-content-body">
  
      </div>
    </div>
  </mat-drawer> -->

  <mat-drawer-content class="body-container">
    <div 
      class="sidenav-resize-bar"
      (mousedown)="this.event_onMouseDownDragger($event, 1)"
      (mouseup)="this.event_onMouseUpDragger($event)"
      (mousemove)="this.event_onMouseMoveDragger($event)">
    </div>

    <mat-tab-group color="accent" *ngIf="this.tabItems.length > 0" 
      class="ide-tabs" [selectedIndex]="this.selectedTabIndex.value" (selectedIndexChange)="this.event_onChangeSelectedTab($event)"
      (mouseup)="this.event_onMouseUpDragger($event)"
      (mousemove)="this.event_onMouseMoveDragger($event)">
      <ng-container *ngFor="let item of this.tabItems">
        <mat-tab>
          <ng-template mat-tab-label class="ide-tab-label">
              <i class="fas fa-file"></i>&nbsp;&nbsp;{{item.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i (click)="event_onClickCloseTab(item)" class="fas fa-times"></i>
          </ng-template>
          <ngx-monaco-editor class="ide-monaco-editor" [options]="editorOptions" [(ngModel)]="item.content" (ngModelChange)="this.event_onContentModified($event)"  (onInit)="onInit($event)"></ngx-monaco-editor>
        </mat-tab>
      </ng-container>
      
    </mat-tab-group>
  
    <div *ngIf="this.tabItems.length <= 0" class="ide-no-open-tabs"
      (mouseup)="this.event_onMouseUpDragger($event)"
      (mousemove)="this.event_onMouseMoveDragger($event)">
      Open or create a file.
    </div>
  </mat-drawer-content>
</mat-drawer-container>



<div class="output-container"
  [style.height.px]="this.outputDrawerHeight"
  (mouseup)="this.event_onMouseUpDragger($event)"
  (mousemove)="this.event_onMouseMoveDragger($event)">
  <div 
    class="output-resize-bar"
    (mousedown)="this.event_onMouseDownDragger($event, 2)">
  </div>
  <div class="results-container">
    <mat-tab-group class="result-tabs" color="accent" [selectedIndex]="this.selectedResultTabsIndex.value">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-desktop"></i>&nbsp;&nbsp;
          Output
        </ng-template>
        <div class="cmd-output-wrapper" [style.height.px]="this.outputDrawerHeight-35">
          <div class="cmd-output">
            <ng-container *ngIf="!this.isExecuting">
              <ng-container  *ngFor="let outputStr of this.output">
                {{outputStr}}<br>
              </ng-container>
            </ng-container>
            
            <mat-spinner class="executing-spinner" *ngIf="this.isExecuting"></mat-spinner>
          
            <!-- A freight train of the black velvet barely is a big fan of a beer near the Hops Alligator Ale. A soggy coors light hesitates, and the whacked Keystone light laughs out loud; however, the wasted crank case takes a peek at a self-actualized bottle of beer. When the Heineken ruminates, the snooty Imperial Stout leaves. When the Pilsner Urquell related to the Strohs dies, a Keystone meditates. A Jamaica Red Ale is miserly.
            A freight train of the black velvet barely is a big fan of a beer near the Hops Alligator Ale. A soggy coors light hesitates, and the whacked Keystone light laughs out loud; however, the wasted crank case takes a peek at a self-actualized bottle of beer. When the Heineken ruminates, the snooty Imperial Stout leaves. When the Pilsner Urquell related to the Strohs dies, a Keystone meditates. A Jamaica Red Ale is miserly.
            A freight train of the black velvet barely is a big fan of a beer near the Hops Alligator Ale. A soggy coors light hesitates, and the whacked Keystone light laughs out loud; however, the wasted crank case takes a peek at a self-actualized bottle of beer. When the Heineken ruminates, the snooty Imperial Stout leaves. When the Pilsner Urquell related to the Strohs dies, a Keystone meditates. A Jamaica Red Ale is miserly.
            A freight train of the black velvet barely is a big fan of a beer near the Hops Alligator Ale. A soggy coors light hesitates, and the whacked Keystone light laughs out loud; however, the wasted crank case takes a peek at a self-actualized bottle of beer. When the Heineken ruminates, the snooty Imperial Stout leaves. When the Pilsner Urquell related to the Strohs dies, a Keystone meditates. A Jamaica Red Ale is miserly.
          -->
          </div>
        </div>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fas fa-clipboard-check"></i>&nbsp;&nbsp;
          Tests
        </ng-template>
        <div class="tests-output-container" [style.height.px]="this.outputDrawerHeight-35">
          <mat-spinner class="executing-spinner" *ngIf="this.isExecuting"></mat-spinner>
          <ng-container *ngIf="!this.isExecuting">
            <!-- #region BEGIN Test results tree -->
            <mat-tree [dataSource]="testTreeDataSource" [treeControl]="testTreeControl" class="example-tree">
              <mat-nested-tree-node *matTreeNodeDef="let node; when: isTestResult">
                <li>
                  <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{testTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    <i *ngIf="this.allTestsSucceeded(node)" class="fas fa-check test-result-succeeded"></i>
                    <i *ngIf="!this.allTestsSucceeded(node)" class="fas fa-times test-result-failed"></i>
                    &nbsp;&nbsp;{{node.name}}
                  </div>
                  <ul [class.example-tree-invisible]="!testTreeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>

              <mat-nested-tree-node *matTreeNodeDef="let node; when: isAssertionResult">
                <li>
                  <div class="mat-tree-node">
                    <!-- <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{testTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button> -->
                    <i *ngIf="node.succeeded" class="fas fa-check test-result-succeeded"></i>
                    <i *ngIf="!node.succeeded" class="fas fa-times test-result-failed"></i>
                    &nbsp;&nbsp;{{node.name}}

                    <div class="test-result-details">
                      Executed code:
                      <br>
                      <span class="test-result-code">{{node.executedCode}}</span>
                      <br>
                      <br>
                      Output:
                      <br>
                      <span class="test-result-code">{{node.executionOutput}}</span>
                      <br>
                      <br>
                      Test  
                      <span *ngIf="node.succeeded" class="test-result-succeeded">succeeded</span>
                      <span *ngIf="!node.succeeded" class="test-result-failed">failed</span>
                    </div>
                  </div>
                  <ul [class.example-tree-invisible]="!testTreeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            
            </mat-tree>
            <!-- #endregion END Test results tree -->
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  
  </div>
</div>