.example-container {
  position: absolute;
  top:37px;
  bottom: 200px;
  left: 0;
  right: 0;
}

.sidenav-left {
  /* width: 200px; */
  
  /* delete border from mat-drawer */
  border-right: none;

  overflow-y: hidden;
}

/* .resizable-sidenav{
  display: flex;
  flex-direction: row;
  height: 100%;

  overflow-y: hidden;
} */

.body-container{
  height: 100%;
  

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

}

.sidenav-resize-bar{
  order: 1;

  cursor: w-resize;
  /* position: fixed; */
  width: 3px;
  height: 100%;
  background-color: #a8acac;
}

.output-resize-bar{

  order: 1;

  cursor: s-resize;
  

  height: 3px;
  min-height: 3px;
  width: 100%;
  background-color: #a8acac;
}

.sidenav-right{
  width: 200px;
}

.ide-monaco-editor{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.output-container{
  position: absolute;
  bottom: 0;
  /* height: 200px; */
  width: 100%;
  
  display: flex;
  flex-direction: column;
}

.flexible-content-container{
  order: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.flexible-content-header{
  width: inherit;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background-color: #303030;

  font-size: 12px;
  font-weight: bold;
  color: #acacac;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #494949 ;
}

.flexible-content-body{
  flex: 1;

  /* NOT COMPATIBLE WITH MATERIAL DARK DESIGN */
  background-color: #1e1e1e;
  
}

.results-container{
  order: 2;
  flex-grow: 1;
}

.result-tabs{
  height: 100%;
}

.cmd-output-wrapper{
  background-color: black;
}

.cmd-output{
  padding: 10px;

  background-color: black;
  color: #d4d4d4;
  /* color: grey; */
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  white-space: pre-line;
}


.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.clickable-tree-file{
  cursor: pointer;
}

.ide-tabs{

  order: 2;
  flex-grow: 1;

  height: inherit;
  width: 99%;
}

.ide-tab-label{
  margin: 0;
  padding: 0;
}

.ide-no-open-tabs{
  order: 3;
  flex-grow: 1;

  display: flex; 
  align-items: center; 
  justify-content: center;

  height: 100%;
}

.test-result-succeeded{
  color: green;
}

.test-result-failed{
  color: red;
}

.test-result-details{
  margin-left: 20px;
  margin-top: 5px;
  padding: 5px;
  background-color: #1e1e1e;
}

.test-result-code{
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size: 10pt;
  white-space: pre-line;
}

.selected-tree-item{
  background-color: rgba(145, 145, 145, 0.58);
} 

.executing-spinner{
  margin-left: 20px;
  margin-top: 20px;
}