<h1 mat-dialog-title>New Folder</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Insert name" [(ngModel)]="foldername">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="event_onClickCancel()">Cancel</button>
  <button mat-raised-button  (click)="event_onClickCreate()" cdkFocusInitial>Create</button>
</div>