.content-container{
  display: flex;
  flex-direction: row;

  min-height: 400px;
  max-height: 400px;

  font-size: 14px;
}

.config-selection{
  order: 1;
  flex-grow: 1;

  min-width: 200px;
  margin-right: 5px;
  background-color: #1e1e1e;
}

.file-selection{
  order: 1;
  flex-grow: 1;

  min-width: 200px;
  background-color: #1e1e1e;
}

.options-selection{
  order: 1;
  flex-grow: 1;
  margin-left: 5px;
}

.dialog-buttons{
  float: right;
}

.flexible-content-header{
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background-color: #303030;

  font-size: 12px;
  font-weight: bold;
  color: #acacac;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #494949 ;
}

.options-content{
  padding: 20px;
}

.user-field{
  width: 100%;
}

.ul-nostyle{
  padding: 0;
  margin: 0;
}

.ul-li-nostyle{
  list-style-type: none;
  cursor: pointer;

  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.selected-list-item{
  background-color: #92929298;
}