<h1 mat-dialog-title>Run Configurations</h1>
<div mat-dialog-content class="content-container">
  <div class="config-selection">
    <div class="flexible-content-header">
        Run Configurations
    </div>
    <ul class="ul-nostyle">
      <li class="ul-li-nostyle" *ngFor="let item of this.runConfigurations" (click)="event_onClickRunConfiguration(item)"
        [ngClass]="{'selected-list-item': this.isSelectedRunConfiguration(item)}">
        <i class="fas fa-user-cog"></i>&nbsp;&nbsp;{{item.name}}
      </li>
    </ul>

  </div>
  <div class="file-selection">
    <div class="flexible-content-header">
      Executed Files
    </div>
    <ul class="ul-nostyle">
      <li class="ul-li-nostyle" *ngFor="let item of this.selectedItems"><i class="fas fa-file"></i>&nbsp;&nbsp;{{item.name}}</li>
    </ul>
  </div>
  <div class="options-selection">
    <div class="flexible-content-header">
      Options
    </div>
    <div class="options-content">
      <mat-form-field class="user-field">
        <input matInput [(ngModel)]="this.selectedRunConfiguration.name" placeholder="Name" value="MyRunConfig">
      </mat-form-field>
      <mat-form-field class="user-field">
        <mat-label>Solver</mat-label>
        <mat-select [(value)]="this.selectedRunConfiguration.solver">
          <mat-option value="CLINGO">
            Clingo
          </mat-option>
          <mat-option value="DLV2">
            DLV2
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="user-field">
        <input matInput [(ngModel)]="this.selectedRunConfiguration.solvedModels" type="number" name="solvedModels" id="solvedModels" placeholder="Solved models" min="0">
        <mat-hint>Number of models to solve (0 = all models).</mat-hint>
      </mat-form-field>
      <mat-form-field class="user-field">
        <input matInput  placeholder="Solver arguments" value="" disabled>
        <mat-hint>Command line arguments that will be passed to the solver.</mat-hint>
      </mat-form-field>
    </div>

    
  </div>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-button (click)="event_onClickCancel()">Cancel</button>
  <button mat-raised-button [disabled]="this.isRunConfigurationInvalid()" (click)="event_onClickDelete()">Delete</button>
  <button mat-raised-button  (click)="event_onClickSave()" cdkFocusInitial>Save</button>
  <button mat-raised-button [disabled]="this.isRunConfigurationInvalid()"  (click)="event_onClickRun()">Solve</button>
</div>