/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Roboto', sans-serif;
}

.editor-container{
  height: 100% !important;
}

/* overwrites */
.mat-tree-node{
  min-height: 10px !important;
  cursor: pointer;
}

.mat-tree{
  background-color: transparent !important;
}



.mat-tab-body-wrapper{
  height: inherit;
}

.mat-tab-label{
  height: 30px !important;
  font-size: 12px !important;
  /* font-weight: bold !important; */
}

/* .selected-tree-item{
  background-color: rgba(145, 145, 145, 0.58);
} */