.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  padding-left: 100px;
}

.ide-menu-bar{
  max-height: 37px;
}

.run-config-select{
  font-size: 14px;
  padding-top: 3px;
}

.answer-sets-number{
  margin-left: 10px;
  margin-right: 10px;

}

.stop-button{
  min-width: 40px;
}