<mat-toolbar class="ide-menu-bar" color="accent">
  <mat-menu #settingsMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
    <ng-template matMenuContent>
      <!-- <ng-container *ngIf="this.sharing.selectedRunConfigruation == null"> -->
        <mat-form-field class="answer-sets-number" (click)="$event.stopPropagation();">
          <input matInput type="number" id="modNumber" name="modNumber" placeholder="Solve models" [(ngModel)]="this.sharing.solveModels" min="0" [disabled]="this.sharing.selectedRunConfigruation != null">
          <mat-hint>0 = all models</mat-hint>
        </mat-form-field>
        <hr>
      <!-- </ng-container> -->
      
      <button [disabled]="this.sharing.selectedRunConfigruation != null" mat-menu-item (click)="event_onClickSetSolver($event, 'CLINGO')"><i  *ngIf="this.sharing.selectedSolver == 'CLINGO'" class="fas fa-check"></i>&nbsp;&nbsp;&nbsp;Solve with CLINGO</button>
      <button [disabled]="this.sharing.selectedRunConfigruation != null" mat-menu-item (click)="event_onClickSetSolver($event, 'DLV2')"><i  *ngIf="this.sharing.selectedSolver == 'DLV2'" class="fas fa-check"></i>&nbsp;&nbsp;&nbsp;Solve with DLV2</button>
    </ng-template>
  </mat-menu>

  <mat-menu #fileMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="event_onClickAddFile()"><i class="fas fa-file"></i>&nbsp;&nbsp;&nbsp;New File</button>
      <button mat-menu-item (click)="event_onClickAddFolder()"><i class="fas fa-folder"></i>&nbsp;&nbsp;New Folder</button>
    </ng-template>
  </mat-menu>

  <mat-menu #solveMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
    <ng-template matMenuContent>
      <button mat-menu-item (click)="this.event_onClickSelectRunConfiguration(null)">&nbsp;<i style="font-size: 12px" class="fas fa-play"></i>&nbsp;&nbsp;&nbsp;&nbsp;Current File</button>
      <button mat-menu-item *ngFor="let config of this.sharing.runConfigurations" 
        (click)="event_onClickSelectRunConfiguration(config)">
        <i class="fas fa-user-cog"></i>&nbsp;&nbsp;&nbsp;{{config.name}}
      </button>
      <button mat-menu-item (click)="this.event_onClickOpenRunConfigurations()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Open Run Configurations...</button>
    </ng-template>
  </mat-menu>

  <span>
    <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
    <!-- <button mat-button disabled>View</button> -->
    <button mat-button [matMenuTriggerFor]="settingsMenu">Settings</button>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space">
      <button mat-button (click)="this.event_onClickTest()">
        <i class="fas fa-beer"></i> 
        &nbsp;
        Test
      </button>
      <button mat-button (click)="this.event_onClickSolve()">
        <i style="font-size: 12px" class="fas fa-play"></i> 
        &nbsp;
        Solve <!-- [<ng-container *ngIf="!this.sharing.selectedRunConfigruation">Current File</ng-container>
        <ng-container *ngIf="this.sharing.selectedRunConfigruation">{{this.sharing.selectedRunConfigruation.name}}</ng-container>]
        &nbsp;&nbsp;&nbsp;
        <i (click)="event_onClickSolveOptions($event)"  [matMenuTriggerFor]="solveMenu" style="font-size: 12px" class="fas fa-caret-down"></i> -->
      </button>
      <button class="stop-button" mat-button (click)="this.event_onClickStopExecution($event)">
        <i class="fas fa-stop"></i>
      </button>
      &nbsp;&nbsp;

      <button mat-button (click)="event_onClickSolveOptions($event)" [matMenuTriggerFor]="solveMenu">
          Run: [<ng-container *ngIf="!this.sharing.selectedRunConfigruation">Current File</ng-container>
          <ng-container *ngIf="this.sharing.selectedRunConfigruation">{{this.sharing.selectedRunConfigruation.name}}</ng-container>]
          &nbsp;&nbsp;&nbsp;
          <i  style="font-size: 12px" class="fas fa-caret-down"></i>
        </button>
  </span>

  <span>ASP-WIDE</span>
</mat-toolbar>


<router-outlet></router-outlet>
