@import '~@angular/material/theming';
@import './asp-wide-palette.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$asp-wide-mat-theme-dark-primary: mat-palette($mat-grey, 900);
$asp-wide-mat-theme-dark-accent:  mat-palette($asp-wide-palette, 900);

// The warn palette is optional (defaults to red).
$asp-wide-mat-theme-dark-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$asp-wide-mat-theme-dark: mat-dark-theme($asp-wide-mat-theme-dark-primary, $asp-wide-mat-theme-dark-accent, $asp-wide-mat-theme-dark-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($asp-wide-mat-theme-dark);